<fieldset>
  <legend>Add Player</legend>
  <form #form="ngForm" (submit)="onSubmit()">
    <div>
      <label for="name">Player Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        minlength="2"
        [(ngModel)]="player.name"
        #name="ngModel"
      >
    </div>
    <div class="warning" *ngIf="name.errors && name.touched">
      <div *ngIf="name.errors.required">
        First name is required
      </div>
      <div *ngIf="name.errors.minlength">
        First name must be at least {{ name.errors.minlength.requiredLength }} characters long
      </div>
    </div>
    <div>
      <label for="position">Preferred Position:</label>
      <input
        type="text"
        id="position"
        name="position"
        [(ngModel)]="player.position"
      >
    </div>
    <button [disabled]="form.invalid">ADD</button>
  </form>
</fieldset>
