<div class="component">
  <h1>Player Status - Game {{ game[4] }}</h1>
  <div class="games">
    <button
      (click)="selectGame('game1')"
      [ngClass]="{'bold': game === 'game1'}"
    >
      Game 1
    </button>
    <button
      (click)="selectGame('game2')"
      [ngClass]="{'bold': game === 'game2'}"
    >
      Game 2
    </button>
    <button
      (click)="selectGame('game3')"
      [ngClass]="{'bold': game === 'game3'}"
    >
      Game 3
    </button>
  </div>
  <table>
    <thead>
      <th>Player Name</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{ player.name }}</td>
        <td class="center">
          <button
            (click)="setStatus(player, 'playing')"
            [ngClass]="{'playing': player.status[game] === 'playing'}">
            Playing
          </button>
          <button
            (click)="setStatus(player, 'not playing')"
            [ngClass]="{'not-playing': player.status[game] === 'not playing'}">
            Not Playing
          </button>
          <button
            (click)="setStatus(player, 'undecided')"
            [ngClass]="{'undecided': player.status[game] === 'undecided'}">
            Undecided
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
